# **Problems**

## **Problem 01**

### **Figures to Words (Western Style)**

Write a function to convert figures to words in Western Number System using Dictionary:

1367 -> "One thousand three hundred and sixty seven"

18934345 -> "Eighteen million nine hundred and thirty four thousand three hundred and forty five"

**Note:** You can assume that the numbers are below 1 trillion

In [1]:
def figures2words(n: str) -> str:
    n = str(n)
    ones = tens = {'0': 'Ten ', '1':'One ', '2':'Two ','3':'Three ', '4':'Four ', '5':'Five ', '6':'Six ','7':'seven ', '8':'eight ', '9':'nine '}
    tens = {'0': 'Ten ', '1':'Eleven ', '2':'Twelve ','3':'Thirteen ', '4':'Fourteen ', '5':'Fifteen ', '6':'Sixteen ','7':'Seventeen ', '8':'Eighteen ', '9':'Nineteen  '}
    hundreds = {'0': '', '1 ':'One Hunderd and ', '2':'Two Hundred and ', '3':'Three hundred and ', '4':'Four hundred and ', '5':'Five hundred and ', '6':'Six Hundred and ','7':'Seven Hundred and ', '8':'Eight hundred and ', '9':'Nine Hundred and '}
    decades = {'0': '', '2': 'Twenty ', '3': 'Thirty ', '4': 'Forty ','5': 'Fifty ', '6': 'Sixty ',
            '7': 'Seventy ', '8': 'Eighty ', '9': 'Ninety '}
    comma = {'3':'Thousand,', '6':'Million,', '9':'Billion,'}
    word = ""
    integer_side = n
    int_length = len(n)
    integer_change = len(n)
    change = 3
    while integer_change > 0:
        if n == '0':
            word = 'zero'
            break
        if integer_side[integer_change-2] == '1':
            for digit in tens:
                if integer_side[integer_change-1] == digit:
                    word+=" "
                    word = tens[digit]+word
        else:
            for digit_1 in ones:
                if integer_side[integer_change-1] == digit_1:
                    word += " "
                    word = ones[digit_1]+word
            if integer_change>1:
                for digit_2 in decades:
                    word += " "
                    if integer_side[integer_change-2] == digit_2:
                        word = decades[digit_2]+word
        if integer_change > 2:
            for digit_3 in hundreds:
                if integer_side[integer_change-3] == digit_3:
                    word = hundreds[digit_3]+word
        if integer_change > 3:
            word = comma[str(change)]+word
        change = change+3
        integer_change = integer_change - 3
    return word



print(figures2words(18934345))

Eighteen Million,Nine Hundred and Thirty Four Thousand,Three hundred and Forty Five

## **Problem 02**

### **Roman to Arabic and Arabic to Roman**

Implement two functions that converts roman number to arabic number and vice versa

Example:

 > roman2arabic("V") --> 5

 > arabic2roman(9) --> "IX"

In [2]:
def roman2arabic(roman_number: str) -> int:
    roman_dict = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
    arabic = 0
    for i in range(len(roman_number)):
        if i > 0 and roman_dict[roman_number[i]] > roman_dict[roman_number[i - 1]]:
            arabic += roman_dict[roman_number[i]] - 2 * roman_dict[roman_number[i - 1]]
        else:
            arabic += roman_dict[roman_number[i]]
    return arabic

def arabic2roman(arabic_number: int) -> str:
    digits = [1, 4, 5, 9, 10, 40, 50, 90, 100, 400, 500, 900, 1000]
    roman_letters = ["I", "IV", "V", "IX", "X", "XL", "L", "XC", "C", "CD", "D", "CM", "M"]
    i = 12
    word = ""
    while arabic_number:
        div = arabic_number // digits[i]
        arabic_number %= digits[i]
        while div:
            word += roman_letters[i]
            div -= 1
        i -= 1
    return word

print(roman2arabic("V"))
print(arabic2roman(9))

5
IX